{% extends "master.html" %}
{% load static %}
{% block content %}
    <div>
<h1 class="text-uppercase mt-3 text-center text-primary">Update product</h1>
        <p class="text-center mt-3 text-warning">{{ success }}</p>
        <form class="product-form" method="post" action="/update-product/{{ product.id }}">
            {% csrf_token %}
            <input value="{{ product.name }}" required class="form-control" placeholder="Update Name" name="p-name" type="text"><br>
            <input value="{{ product.qty }}" required class="form-control" placeholder="Update Quantity" name="p-qty" type="text"><br>
            <input value="{{ product.size }}" required class="form-control" placeholder="Update Size" name="p-size" type="text"><br>
            <input value="{{ product.price  }}" required class="form-control" placeholder="Update price" name="p-price" type="text"><br>
            <input class="btn btn-outline-danger" value="Update" type="submit">
        </form>
    </div>


{% endblock %}